* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    color:white;
    text-decoration: none;
}
a:hover {
    color:#9b9b9b;
}
a:active {
    color: #172155
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #031b43;
    position: fixed;
    width: 100vw;
    z-index:2;
}
nav section {
    padding: 2vh;
}
nav section:first-child img {
    width: 4vh;
}
nav section:first-child a {
    position: relative;
    bottom: 1.5vh;
}
nav section:last-child ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav section:last-child li {
    padding-inline: 1vw;
    font-size: 4vh;
}



main {
    padding: 10%;
    background-color: #172155;
}


div#main1 {
    margin-bottom: 10vh;
}
div#main1 section#mainsection {
    display: flex;
    align-items: center;
    justify-content: center;
}
div#main1 div {
    margin-inline: 3vh;
}
div#main1 div:first-child {
    text-align: right;
}
div#main1 div:first-child h1 {
    font-size: 5vh;
    color: white;
}
div#main1 div:first-child h2 {
    font-family: monospace;
    color: white;
}
div#main1 div:first-child p {
    font-family: monospace;
    color: white;
}
div#main1 div:first-child h2 {
    font-size: 4vh;
}
div#main1 div:first-child h2:last-child {
    font-size: 4vh;
}
div#main1 div:first-child p {
    font-size: 4vh;
}
div#main1 div:last-child img {
    width: 50vh;
    border-radius: 50px;
}
div#main1 #mainsection section:first-child {
    margin-bottom: 10vh;
}
div#main1 #mainsection {
    position: relative;
    animation: fadein 1s ease-in;
}
@keyframes fadein {
    from {bottom: 65px; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}


div#main2 div.flex img {
    width: 12vh;
    border-radius: 50%;
    margin-block: 40%;
    background-color: lightblue;
    border: 3px solid white;
}
div#main2 section div.flex h1 {
    text-align: center;
    font-size: 6vh;
}
div#main2 .container h2 {
    font-size: 4vh;
}
div#main2 section div.flex h3 {
    color:lightblue;
    font-size: 3vh;
}
div#main2 .flex {
    display: flex;
    align-items: center;
    justify-content: center;

}
div#main2 .flexcolumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: 1vw;
}
div#main2 div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-block: 10%;
    text-align: center;
}
div#main2 section#mainsection {
    position: relative;
    animation: fadein2 1s ease-in;
}
@keyframes fadein2 {
    from {opacity: 0;}
    to {opacity: 1;}
}
div#main2 section#mainsection {
    background-color: #1f2d72;
    border-radius: 60px;
    border: 1px solid;
    width: 50vw;
    padding: 4%;
}
div#main2 {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10%;
}
div#main2 hr {
    margin-block: 5%;
}


    
div#main4 {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#main4 section#mainsection {
    border: 1px solid white;
    border-radius: 60px;
    width: 100%;
    padding: 4%;
    background-color: #1f2d72;
}
div#main4 .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
div#main4 img {
    width: 100px;
    margin-block: 20%;
}
div#main4 .flexcolumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: 1%;
    font-size: 25px;
    color: white;
    text-align: left;
}
div#main4 div.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 402px;
    height: 150px;
}
div#main4 div.container a:last-child {
    margin-left: 10%;
    font-family: monospace;
}
div#main4 div.container p {
    margin-left: 10%;
    font-family: monospace;
}
div#main4 h1 {
    color: white;
    font-size: 60px;
}
div#main4 hr {
    margin-block: 5%;
}

@media screen and (max-width: 810px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #031b43;
        position: relative;
        width: 100vw;
        z-index:2;
    }
    nav section:last-child ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav section:last-child li {
        padding-block: 1vw;
        font-size: 2.5vh;
    }
    br {
        background-color:#1f2d72;
        color:#1f2d72
    }



    main {
        padding: 10vh;
        background-color: #172155;
    }
    
    
    div#main1 {
        margin-bottom: 10vh;
    }
    div#main1 section#mainsection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    div#main1 div {
        margin-inline: 1vh;
    }
    div#main1 div:first-child {
        text-align: center;
    }
    div#main1 div:first-child h1 {
        font-size: 4vh;
        color: white;
    }
    div#main1 div:first-child h2 {
        font-family: monospace;
        color: white;
    }
    div#main1 div:first-child p {
        font-family: monospace;
        color: white;
    }
    div#main1 div:first-child h2 {
        font-size: 3vh;
    }
    div#main1 div:first-child h2:last-child {
        font-size: 3vh;
    }
    div#main1 div:first-child p {
        font-size: 3vh;
    }
    div#main1 div:last-child img {
        width: 40vh;
        border-radius: 50px;
        margin-top: 3vh;
    }
    div#main1 #mainsection section:first-child {
        margin-bottom: 10vh;
    }
    div#main1 #mainsection {
        position: relative;
        animation: fadein 1s ease-in;
    }
    @keyframes fadein {
        from {bottom: 65px; opacity: 0;}
        to {bottom: 0px; opacity: 1;}
    }



    div#main2 div.flex img {
        width: 10vh;
        border-radius: 50%;
        margin-block: 50%;
        background-color: lightblue;
        border: 3px solid white;
    }
    div#main2 section div.flex h1 {
        text-align: center;
        font-size: 5vh;
    }
    div#main2 .container h2 {
        font-size: 3vh;
    }
    div#main2 section div.flex h3 {
        color:lightblue;
        font-size: 2vh;
    }
    div#main2 .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    div#main2 .flexcolumn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-inline: 1vw;
    }
    div#main2 div.container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        margin-block: 15%;
        text-align: center;
    }
    div#main2 section#mainsection {
        position: relative;
        animation: fadein2 1s ease-in;
    }
    @keyframes fadein2 {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    div#main2 section#mainsection {
        background-color: #1f2d72;
        border-radius: 30px;
        border: 1px solid;
        width: 100vw;
        padding: 4%;
    }
    div#main2 {
        margin-top: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-bottom: 10%;
    }
    div#main2 hr {
        margin-block: 5%;
    }
    

    
    div#main4 {
        margin-top: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div#main4 section#mainsection {
        border: 1px solid white;
        border-radius: 30px;
        width: 90vw;
        background-color: #1f2d72;
    }
    div#main4 .flex {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    div#main4 .flex1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    div#main4 img {
        width: 15vw;
    }
    div#main4 .flexcolumn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        color: white;
    }
    div#main4 div.container {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 10vh;
    }
    div#main4 div.container a:last-child {
        margin-left: 3%;
        font-family: monospace;
    }
    div#main4 div.container p {
        margin-left: 3%;
        font-family: monospace;
    }
    div#main4 h1 {
        color: white;
        font-size: 8vh;
    }
    div#main4 hr {
        margin-block: 5%;
    }
            
}



@media screen and (max-width: 1100px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #031b43;
        position: relative;
        width: 100vw;
        z-index:2;
    }
    nav section:last-child ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    nav section:last-child li {
        padding-block: 1vw;
        font-size: 3vh;
    }
    br {
        background-color:#1f2d72;
        color:#1f2d72
    }
}
